body {
  background-color: whitesmoke;
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}
h1, h4 {
  color: rgb(57,37,21);
  font-weight: 300;
}
.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* Small phone size */
.register-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5vh 15vw;
}
.register-button {
  margin: 2vh 0;
  padding: 2vh 10vw;
  font-size: medium;
}
.register-link {
  text-decoration: none;
  color: #ff9800;
  padding: 5vh 0;
}